* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(224, 223, 223);
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;

    .navLeft {
        @include flex-center;
        gap: 15px;
        padding: 0px 40px;
        font-size: 20px;

        .logo {
            height: 30px;
            width: 30px;
            border-radius: 10px;
        }
    }

    a {
        text-decoration: none;
        color: black;
    }

    .navCenter {
        @include flex-center;
        gap: 40px;
        font-size: 18px;

        .lastChild {
            font-size: 20px;
        }
    }

    .navRight {
        @include flex-center;
        gap: 10px;
        padding: 0px 50px;

        button {
            padding: 10px 20px;
            border-radius: 20px;
            border: none;
            outline: none;
            background-color: rgb(31, 159, 229);
        }
    }
}

.aboutFirm {
    height: 180px;
    width: 100%;
    gap: 10px;
    padding: 20px 40px;
    @include flex-center;

    h2 {
        width: 35%;
        font-size: 20px;
        font-weight: 600;
    }

    .aboutRight {
        p {
            padding-bottom: 20px;
        }

        button {
            padding: 10px 20px;
            border-radius: 20px;
        }

        .getBtn {
            background-color: rgb(31, 159, 229);
        }

        .freeBtn {
            border: 2px solid rgb(31, 159, 229);
            color: rgb(31, 159, 229);
        }
    }
}

.firstImg {
    width: 92%;
    height: 30%;
    border-radius: 30px;
    margin: 0px 40px 0px 40px;

}

.ratingBar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "box1 box2 box3 box4";
    gap: 20px;
    background-color: white;

    .box1 {
        grid-area: box1;
        padding: 50px;
        display: flex;
        @include flex-center;
        flex-direction: column;
    }

    .box2 {
        grid-area: box2;
        padding: 50px;
        display: flex;
        @include flex-center;
        flex-direction: column;
    }

    .box3 {
        grid-area: box3;
        padding: 50px;
        display: flex;
        @include flex-center;
        flex-direction: column;
    }

    .box4 {
        grid-area: box4;
        padding: 50px;
        display: flex;
        @include flex-center;
        flex-direction: column;
    }

    h2 {
        font-size: 40px;
        font-weight: 800px;
    }

    p {
        font-size: 10px;
    }
}

.aboutUs {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "button img"
        " h2 img"
        "p img";

    .aboutBtn {
        padding: 30px 40px;
    }

    button {
        grid-area: button;
        padding: 10px 20px;
        border-radius: 20px;
        border: 1px solid black;
    }

    h2 {
        grid-area: h2;
        align-self: self-end;
        font-size: 30px;
        font-weight: 700px;
        padding: 30px 30px 30px 20px;
    }

    p {
        grid-area: p;
        padding: 30px;
    }

    .img {
        grid-area: img;
        height: 90%;
        border-radius: 20px;
        margin: 20px;
    }

}

.expertise {
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.expBtn {
    button {
        padding: 10px 20px;
        border: 2px solid black;
        border-radius: 17px;
    }
}

.exp {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 22px;
        font-weight: 600;
        width: 900px;
    }

}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    justify-items: center;
    padding: 20px;
    background-color: white;

    .card {
        height: 400px;
        width: 265px;
        background-color: rgb(31, 159, 229);
        color: white;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        position: relative;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            border-radius: 20px;
        }

        .bottom {
            position: absolute;
            bottom: 10px;
            left: 20px;
            color: white;
            font-weight: bold;
            font-size: 23px;
        }
    }

    .card1 {
        padding: 20px;

        .name {
            font-size: 20px;
            font-weight: 400;
        }

        .position {
            font-weight: 200;
            padding-bottom: 80px;
        }

        p {
            padding-bottom: 80px;
        }

        .logos {
            display: flex;
            gap: 10px;

            a {
                border: 2px solid white;
                padding: 5px;
                border-radius: 50%;

            }
        }
    }
}

.milestones {
    background-color: rgb(224, 223, 223);
}

.tecnologySolution {
    display: flex;
    gap: 40px;
    padding: 40px;

    .left {
        width: 50%;
        @include flex-center();
        padding: 20px;

        img {
            width: 100%;
            max-width: 500px;
            max-height: 350px;
            border-radius: 15px;
            object-fit: cover;
            object-position: top;
        }
    }

    .right {
        width: 50%;

        .timeline {
            position: relative;
            padding-left: 40px;

            .line {
                position: absolute;
                left: 10px;
                top: 0;
                width: 2px;
                height: 100%;
                background: #ccc;

                .dot {
                    position: absolute;
                    left: 0;
                    top: 5px;
                    width: 15px;
                    height: 15px;
                    background: #ccc;
                    border-radius: 50%;

                    .item {
                        .dot {
                            background: blue;
                        }
                    }
                }
            }
        }
    }
}

.year {
    font-size: 14px;
    color: gray;
}

.content {
    padding: 20px;

    h3 {
        margin: auto;
    }

    p {
        font-size: 14px;
        color: #666;
    }

    a {
        text-decoration: none;
        color: blue;
        font-size: 14px;
    }
}

.logoi {
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-areas: " h3 star img"
        "p p img"
        "h2 h2 img";
    gap: 10px;

    .logoipsum {
        grid-area: h3;
        padding: 20px;
        font-size: 20px;
    }

    .star {
        grid-area: star;
        padding: 20px;
    }

    p {
        grid-area: p;
        padding: 20px;
    }

    h2 {
        grid-area: h2;
        padding: 20px;
    }

    .img {
        grid-area: img;
        object-fit: cover;
        padding: 20px;

        img {
            border-radius: 20px;
        }
    }
}

.connect {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: space-between;
    background-color: white;

    .connectDetails {
        display: flex;
        padding: 20px;
        flex-direction: column;
        width: 50%;
        height: 400px;
        gap: 10px;
        justify-content: space-between;

        .top {
            button {
                padding: 10px 20px;
                border: 1px solid black;
                border-radius: 20px;
                width: fit-content;
            }

            h1 {
                font-size: 30px;
                font-weight: 500;
            }
        }

        .bottom {
            p {
                font-size: 10px;
                color: #666;
                padding: 5px;
            }

            h3 {
                font-size: 15px;
            }

            .logo {
                i {
                    border: 1px solid black;
                    padding: 5px;
                    border-radius: 50%;
                }
            }
        }

    }

    .connectLocation {
        overflow: hidden;
        height: 400px;

        img {
            object-fit: cover;
            border-radius: 20px;
        }
    }
}

.mainfooter {
    background-color: #313131;
        color: white;
        padding: 35px;
        margin: 10px 10px 0px 10px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    .footer {
        display: flex;
        gap: 20px;
        align-items: space-between;
        justify-content: space-between;

        .footerLeft {
            .top {
                display: flex;
                gap: 12px;
                font-size: 20px;
                padding-bottom: 30px;

                .logo {
                    height: 30px;
                    width: 30px;
                    border-radius: 10px;
                }
            }

            .bottom {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .input {
                    display: flex;
                    gap: 10px;

                    input {
                        background-color: #666;
                        border-radius: 20px;
                        padding: 3px 15px;
                    }

                    button {
                        padding: 5px 20px;
                        background-color: rgb(11, 134, 200);
                        border-radius: 20px;
                    }
                }
            }
        }

        .footerMid1 {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    .last {
        display: flex;
        justify-content: space-between;
        align-items: space-between;
         .logo {
                i {
                    border: 1px solid rgb(245, 240, 240);
                    padding: 5px;
                    border-radius: 50%;
                }
            }
    }
}